Bienvenue sur {{ ansible_hostname }} !

• OS : {{ ansible_distribution }} {{ ansible_distribution_version }}
• Mémoire : {{ ansible_memtotal_mb }} Mo
• Processeurs : {{ ansible_processor_vcpus }} coeurs
